<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>

    <!-- Datos necesarios para la conexión con la BD -->
    <property name="hibernate.dialect"> org.hibernate.dialect.MySQLDialect </property>
    <property name="hibernate.connection.driver_class"> com.mysql.cj.jdbc.Driver </property>
    <property name="hibernate.connection.url"> jdbc:mysql://localhost/hibernate </property>
    <property name="hibernate.connection.username"> root </property>
    <property name="hibernate.connection.password"> 123456 </property>

    <!-- Configuración de algunos parámetros de Hibernate-->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">
      org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>

    <mapping resource="company/entity/collectionsmappings/b_set_one_to_many/Employee.hbm.xml" />
    <mapping resource="company/entity/collectionsmappings/b_set_one_to_many/Certificate.hbm.xml" />

  </session-factory>
</hibernate-configuration>